<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../sass/form.scss" />
  </head>
  <body>
      <!-- <form class="contact-form js-contact-form">
        <input
          name="name"
          type="text"
          class="contact-form-input"
          placeholder="Введіть ім'я"
        />
        <input
          name="email"
          type="email"
          class="contact-form-input js-contact-email"
          placeholder="Введіть email"
        />
        <input
          name="phone"
          type="phone"
          class="contact-form-input js-contact-phone"
          placeholder="Введіть телефон"
        />
        <button class="contact-form-submit" type="submit">submit</button>
      </form>
    </div> -->

    <script src="../js/contacts.js" type="module"></script>
  </body>
</html>
